debug: false

server:
    port: 8080

spring:
    application:
        name: LiveData
    rabbitmq:
        host: ${RABBITMQ_HOST:localhost}
        port: ${RABBITMQ_PORT:5672}
        username: ${RABBITMQ_USERNAME:guest}
        password: ${RABBITMQ_PASSWORD:guest}
        virtual-host: ${RABBITMQ_VHOST:/}
        listener:
            simple:
                prefetch: 100

rabbit-mq:
    default:
        exchange: binance.trade.exchange
    consumer:
        queue: binance.live.queue

websocket:
    allowed-origins: "*"


#Observability config
management:
    endpoints:
        web:
            exposure:
                include: health,prometheus,metrics,info
    endpoint:
        health:
            show-details: always
            show-components: always
    health:
        rabbit:
            enabled: true
    prometheus:
        metrics:
            export:
                enabled: true

live:
    aggregation:
        interval-ms: 500